<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="CameraRTSPUrl_axis" value="rtsp://admin:infr@123@172.27.10.131/axis-media/media.amp" />
		<add key="CameraRTSPUrl_Hikvision" value="rtsp://admin:infr@124@172.27.60.171/h264/ch1/main/av_stream" />

		<!-- Streaming URL -->
		<add key="CameraRTSPUrl" value="rtsp://admin:infr@123@172.27.10.131/axis-media/media.amp" />

		<!-- QR 코드 스캔 시도 간격 (초 단위, 일반 모드에서 사용) (기본값: 3) -->
		<add key="QrScanIntervalSeconds" value="3.0" />
		
		<!-- 디버그 이미지 저장 경로 (선택사항) -->
		<add key="QRLabelDebugFolder" value="C:\Debug"/>
		
	</appSettings>	
</configuration>